<div class="jumbotron">
	<h1>Merch info</h1>

	<img src="" alt="">

	<h2>Product <%= @product.name %></h2>
	<h3><%= @product.make %></h3>

	<h4>Product Specs:</h4>
	<ul>
		<li>Category: <%= @product.category %></li>
		<li>Subcategory: <%= @product.subcategory %></li>
		<li>Purchase Price: <%= @product.p_price %></li>
		<li>Estimated Current Price: <%= @product.c_price %></li>
		<li>Warranty: <%= @product.warranty %></li>
		<li>Warranty Length: <%= @product.w_length %></li>
	</ul>
	<p><%= @product.description %></p>

	<a href="">Warranty Info</a>
	<a href="">User Manual</a>
	
	<%= link_to "Add photo", new_product_photo_path(@product.id) %>
	<%= link_to "Back to the list!", user_products_path(:user_id) %>
</div>